*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: #000000;
}

body{ 
    background-color: rgb(230, 229, 229); 
   
}

img{
    display: none;
}
h1,p{
    text-align: center;
    color: #000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form{
    background-color: #fff; 
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    width: auto;  
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
    width: auto;
    max-width: 900px;
    margin: 0px auto;
    padding: 70px;
    border-radius: 10px;
    text-align: left;
}

label{
    font-weight: bold;
    margin-bottom: 5px;
}

input,select{
    width: 100%;
    padding: 10px;
    background: transparent;
    font-size: 1.1rem;
    text-decoration: none;
    border-color: black;
}

span{
    font-family:monospace;
    text-align: end;
}

button{
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #4b3cbcb0;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

a{
    color: #000;
    padding: 15px;
    width: 30%;
    text-align: center;
    border: none;
    border-radius: 5px;
}


@media only screen and (max-width: 800px) {
        body{
            background-color: #fff;
        }
        form{
              box-shadow: none;
            text-align: left;
           padding: 30px;
        }  

        h1{
            font-size: 25px;
        }
        
        img{
            display: inline;
        }
    
  }